html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

#Container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#cardsContainer {
    margin-top: 5%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;
 }